In [65]:
from datetime import datetime, timedelta
from dateutil import parser
def calculate_dates(a):
    """
    주어진 날짜 a를 기준으로 월을 변경하고, 45일 전후 날짜를 계산합니다.

    Args:
        a: "YYYY-MM-DD" 형식의 날짜 문자열

    Returns:
        딕셔너리: 
            - month_minus_3: 월 -3인 날짜
            - month_minus_3_minus_45: 월 -3인 날짜로부터 45일 전
            - month_plus_3: 월 +3인 날짜
            - month_plus_3_minus_45: 월 +3인 날짜로부터 45일 전
            - minus_45: a로부터 45일 전
    """
    year, month, day = map(int, a.split('-'))

    # 월 변경 및 날짜 계산 함수
    def change_month(y, m, d, delta):
        new_month = (m + delta - 1) % 12 + 1  # 월 변경
        new_year = y + (m + delta - 1) // 12  # 년도 변경
        try:
            return datetime(new_year, new_month, d).strftime("%Y-%m-%d")
        except ValueError:  # 월의 마지막 날짜 처리
            import calendar
            last_day = calendar.monthrange(new_year, new_month)[1]
            return datetime(new_year, new_month, last_day).strftime("%Y-%m-%d")

    # 결과 계산
    month_minus_3 = change_month(year, month, day, -3)
    month_minus_3_minus_45 = (datetime.strptime(month_minus_3, "%Y-%m-%d") - timedelta(days=45)).strftime("%Y-%m-%d")
    month_plus_3 = change_month(year, month, day, 3)
    # month_plus_3_minus_45 = (datetime.strptime(month_plus_3, "%Y-%m-%d") - timedelta(days=45)).strftime("%Y-%m-%d")
    minus_45 = (datetime.strptime(a, "%Y-%m-%d") - timedelta(days=45)).strftime("%Y-%m-%d")

    return {
        "month_minus_3": month_minus_3,
        "month_minus_3_minus_45": month_minus_3_minus_45,
        "month_plus_3": month_plus_3,
        # "month_plus_3_minus_45": month_plus_3_minus_45,
        "minus_45": minus_45
    }

In [8]:
# 예시
a = "2025-02-10"
result = calculate_dates(a)
print(result)

{'month_minus_3': '2024-11-10', 'month_minus_3_minus_45': '2024-09-26', 'month_plus_3': '2025-05-10', 'minus_45': '2024-12-27'}

In [ ]:
from datetime import datetime
def md_to_ymd(date_str:str):
    try:
        date_str = datetime.strptime(date_str, '%y.%m.%d')
        return date
    except :
        try:
            date_str = datetime.strptime(date_str, "%m.%d")
            current_year = datetime.now().year
            date = date_str.replace(year=current_year)
            return date
        except ValueError:
            print("Invalid date format")
            return False

In [ ]:
def new_convert_date_format(date_str):
  """
  두 가지 날짜 형식을 입력받아 "yyyy.mm.dd HH:MM:SS" 형식으로 변환합니다.

  Args:
    date_str: 변환할 날짜 문자열 ("yyyy.mm.dd HH:MM:SS" 또는 "mm.dd HH:MM:SS" 형식)

  Returns:
    "yyyy.mm.dd HH:MM:SS" 형식으로 변환된 날짜 문자열
  """
  try:
    # "yyyy.mm.dd HH:MM:SS" 형식인 경우 그대로 반환
    datetime.strptime(date_str, "%Y.%m.%d %H:%M:%S")
    return date_str
  except ValueError:
    try:
      # "mm.dd HH:MM:SS" 형식인 경우 연도를 2025로 가정하여 변환
      date_obj = datetime.strptime(date_str, "%m.%d %H:%M:%S")
      return date_obj.replace(year=datetime.now().year).strftime("%Y.%m.%d %H:%M:%S")
    except ValueError:
      return "Invalid date format"

In [62]:
def convert_date_format(date_str):
    # date_str = str(md_to_ymd(date_str))
    return str(date_str).split(' ')[0].replace('.', '-')

In [81]:
new_convert_date_format('01.01')

'Invalid date format'

In [83]:
new_convert_date_format('2025.02.15 01:23:45')

'2025.02.15 01:23:45'

In [82]:
convert_date_format('24.12.31')

'24-12-31'

In [64]:
convert_date_format(new_convert_date_format('02.15 01:23:45'))

'2025-02-15'

In [55]:
md_to_ymd('2025.02.15')

Invalid date format

False

In [41]:
str(md_to_ymd('02.15'))
convert_date_format('2023.02.15')

'2023.02.15'

In [21]:
a = datetime.strptime('02.15', "%m.%d")
print(a)
current_year = datetime.now().year % 100
date_str = f"{current_year:02d}-{a}"
date_str

1900-02-15 00:00:00

'25-1900-02-15 00:00:00'

In [22]:
from dateutil import parser

datetime.strptime('22.01.01', '%y.%m.%d')
parser.parse('22.01.03')

datetime.datetime(2003, 1, 22, 0, 0)

In [40]:
md_to_ymd('23.02.15')

datetime.datetime(2023, 2, 15, 0, 0)

In [39]:
convert_date_format(md_to_ymd('2023.02.15'))

Invalid date format

'False'

In [27]:
t = "23.02.16 14:23:20"
ymd, hms = t.split()
'T'.join([convert_date_format(md_to_ymd(ymd)), hms])
# t.replace(" ", "T")

'23-02-16T14:23:20'

In [116]:
def date_type_for_search_result(date_str):
    try:
        # 'mm.dd' 형식 처리
        date_obj = datetime.strptime(date_str, "%m.%d")
        date_obj = date_obj.replace(year=datetime.now().year)
        # print(date_obj)
        return date_obj
    except ValueError:
        try:
            # 'yy.mm.dd' 형식 처리
            date_obj = datetime.strptime(date_str, "%y.%m.%d")
            # print(date_obj)
            return(date_obj)
        except ValueError:
            return "Invalid Date Format"
        
def is_date_in_range(date_obj, start_date_str, end_date_str):
    """
    주어진 날짜 문자열이 특정 날짜 범위 안에 있는지 확인합니다.
    검색 결과 목록의 날짜 형식에 대응합니다.

    Args:
        date_str: 검사할 날짜 문자열 (예: '23.08.17' | '02.15')
        start_date_str: 시작 날짜 문자열 (예: '2023-08-16')
        end_date_str: 종료 날짜 문자열 (예: '2023-11-16')

    Returns:
        bool: 날짜가 범위 안에 있으면 True, 아니면 False
        str: 날짜 형식이 올바르지 않으면 "Invalid Date Format" 반환
    """


    try:
        start_date = datetime.strptime(start_date_str, "%Y-%m-%d")
        end_date = datetime.strptime(end_date_str, "%Y-%m-%d")

        return start_date <= date_obj <= end_date

    except ValueError:
        return "Invalid Date Format"

In [119]:
date_type_for_search_result('12.31')

datetime.datetime(2025, 12, 31, 0, 0)

In [117]:
is_date_in_range(date_type_for_search_result('24.12.31'), '2024-12-30', '2025-01-02')

True

In [101]:
def md_to_ymd(date_str:str):
    """
    두 가지 날짜 형식을 입력받아 "yyyy.mm.dd HH:MM:SS" 형식으로 변환합니다.
    본문 및 댓글의 날짜 형식에 대응합니다.
    
    Args:
        date_str: 변환할 날짜 문자열 ("yyyy.mm.dd HH:MM:SS" 또는 "mm.dd HH:MM:SS" 형식)

    Returns:
        "yyyy.mm.dd HH:MM:SS" 형식으로 변환된 날짜 문자열
    """
    try:
        # "yyyy.mm.dd HH:MM:SS" 형식인 경우 그대로 반환
        datetime.strptime(date_str, "%Y.%m.%d %H:%M:%S")
        return date_str
    except ValueError:
        try:
            # "mm.dd HH:MM:SS" 형식인 경우 연도를 2025로 가정하여 변환
            date_obj = datetime.strptime(date_str, "%m.%d %H:%M:%S")
            return date_obj.replace(year=datetime.now().year).strftime("%Y.%m.%d %H:%M:%S")
        except ValueError:
            return "Invalid date format"

In [105]:
md_to_ymd('02.16 08:33:33')

'2025.02.16 08:33:33'